<div style="page-break-after: always;"></div>

<!-- page-48 -->


<section class="vastu-page" style="padding: 0;">

    <!-- HEADER -->

<div class="guideline-header">
    <h1>East MAIN DOOR</h1>
</div>

<div class="usage-content">

    
    <h3 style="color: #D60000;">Special Remedies From Desk of Dr. Puneet Chawla</h3>

<div class="remedy-grid" >

<div class="remedy-card">
Open the main door fully for 5 minutes every morning after sunrise.

</div>

<div class="remedy-card">
Avoid blocking the entrance with plants or furniture.

</div>

<div class="remedy-card">
Every Sunday, clean the door handle and hinges with plain water.

</div>


<div class="remedy-card">
Use light green or soft yellow near the entrance.

</div>


</div>



</div>

<!-- Footer -->
     <div class="footer-container">
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>livevaastu.in</b></span>
        <span>EMAIL: <br><b>contact@livevaastu.com</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
</div>

</section>


<div style="page-break-after: always;"></div>

<!-- page-49 -->


<section class="vastu-page" style="padding: 0;">

    <!-- HEADER -->

<div class="guideline-header">
    <h1>EAST MAIN DOOR

</h1>
   
</div>

<div class="usage-content">

   

<div class="remedy-grid" >
<p style="font-size: 18px;">Planet Direction for your Main Door</p>
<div class="image-container-third image-container">
    <div style="width: 193px;height: 193px;">
  <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/sun-image.png" alt="">
  </div>
  
  <h3>Planet: 
<br>
Sun (Surya)</h3>

</div>
<h3 style="color: #D60000;font-weight: 600;">Mantra (to be fixed)</h3>
<div class="image-container" style="min-height: 193px;
    overflow: hidden;max-height: 213px;padding: 0;">

<img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/mantra-7.png" alt="" style="width: 100%; height: 100%;object-fit: cover;">
</div>


</div>


</div>

<!-- Footer -->
    <div class="footer-container">
    
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>livevaastu.in</b></span>
        <span>EMAIL: <br><b>contact@livevaastu.com</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>


<div style="page-break-after: always;"></div>


<!-- page-50 -->

<section class="vastu-page" style="padding: 0;">

       <!-- HEADER -->

<div class="guideline-header">
    <h1>EAST MAIN DOOR
</h1>
</div>



<div class="usage-content">
<div class="fix-content">

<div class="fix-divider">
<span>Fixing Material:</span>
</div>

<ul class="fix-list">
<li>Copper plate, simple and unengraved.</li>
<li>Spice Pouch (Hang Outside): 1 bay leaf + 1 turmeric root</li>
<li>Pouch Colour: Soft saffron / light yellow</li>
<li>Replacement: Every 30–45 days</li>
<li>Day to Fix: Sunday morning</li>

</ul>

</div>

</div>


<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>livevaastu.in</b></span>
        <span>EMAIL: <br><b>contact@livevaastu.com</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>