<div style="page-break-after: always;"></div>

<!-- page-31 -->


<section class="vastu-page" style="padding: 0;">

    <!-- HEADER -->

<div class="guideline-header">
    <h1>NORTH-WEST MAIN DOOR</h1>
    <p>Issues: emotional instability, mood fluctuations, good things not staying</p>
</div>

<div class="usage-content">

    <!-- <h3 style="color: #D60000;margin-bottom: 20px;font-size: 26px;">Most sensitive door</h3> -->
    <h3 style="color: #D60000;">Special Remedies From Desk of Dr. Puneet Chawla</h3>

<div class="remedy-grid" >

<div class="remedy-card">
Place a special made live vaastu Ganesha pair, this a specially made pair with different trunks , guidance written in the manual

</div>

<div class="remedy-card">
Special energy boxes to be placed above the door frame or on the floor level left and right.

</div>

<div class="remedy-card">
Special potli to be hanged in the middle of the door above the door frame from inside.

</div>





</div>

<h3 style="color: #D60000;">Other Remedies</h3>

<div class="remedy-grid" >

<div class="remedy-card">
Keep two identical green plants on both sides of the main door (inside or outside).

</div>

<div class="remedy-card">
Ensure the main door is always fully closed, never half-open.

</div>

<div class="remedy-card">
Every Saturday morning, sprinkle plain water just inside the entrance using your hand.

</div>


<div class="remedy-card">
Use off-white or light grey colour near the entrance (wall, curtain, or décor).

</div>





</div>


</div>

<!-- Footer -->
     <div class="footer-container">
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>livevaastu.in</b></span>
        <span>EMAIL: <br><b>contact@livevaastu.com</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
</div>

</section>


<div style="page-break-after: always;"></div>

<!-- page-32 -->


<section class="vastu-page" style="padding: 0;">

    <!-- HEADER -->

<div class="guideline-header">
    <h1>NORTH-WEST MAIN DOOR
</h1>
    <p>Issues: emotional instability, mood fluctuations, good things not staying</p>
</div>

<div class="usage-content">

   

<div class="remedy-grid" >

<div class="image-container">
    <div>
  <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/moon-image.png" alt="">
  </div>
  <h3>Planet: <br>
Moon (Chandra)</h3>

</div>

<div class="image-container">
<p style="color: #fff;">Mantra (to be fixed)</p>

<div>
<img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/mantra-image.png" alt="">
</div>

</div>






</div>





</div>

<!-- Footer -->
    <div class="footer-container">
    
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>livevaastu.in</b></span>
        <span>EMAIL: <br><b>contact@livevaastu.com</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>


<div style="page-break-after: always;"></div>


<!-- page-north-west-main-door -->

<section class="vastu-page" style="padding: 0;">

       <!-- HEADER -->

<div class="guideline-header">
    <h1>NORTH-WEST MAIN DOOR
</h1>
    <p>Issues: emotional instability, mood fluctuations, good things not staying</p>
</div>



<div class="usage-content">
<div class="fix-content">

<div class="fix-divider">
<span>Fixing Material:</span>
</div>

<ul class="fix-list">
<li>White metal / steel plate, small and simple, fixed on the outer wall or frame.
</li>
<li>Spice Pouch (Hang Outside): Spice: White poppy seeds (khus-khus) or only cardamom husk</li>
<li>Pouch Colour: White / off-white cotton</li>
<li>Replacement: Every 45 days</li>
<li>Day to Fix: Monday</li>

</ul>

</div>

</div>


<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>livevaastu.in</b></span>
        <span>EMAIL: <br><b>contact@livevaastu.com</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>