<div style="page-break-after: always;"></div>

<!-- page-42 -->

<section class="vastu-page" style="padding: 0;">

    <!-- HEADER -->

<div class="guideline-header">
    <h1>NORTH MAIN DOOR</h1>
    <p>Issues: sadness, slowness, delayed results</p>
</div>

<div class="usage-content">

    
    <h3 style="color: #D60000;">Special Remedies From Desk of Dr. Puneet Chawla</h3>

<div class="remedy-grid" >

<div class="remedy-card">
Keep the area near the main door clean and active, never dull or unused.

</div>

<div class="remedy-card">
Avoid placing heavy storage or unused items near the entrance.

</div>

<div class="remedy-card">
Every Friday morning, wipe the door once with plain water and a clean cloth.

</div>


<div class="remedy-card">
Use light green, cream, or very soft aqua near the entrance.

</div>


</div>



</div>

<!-- Footer -->
     <div class="footer-container">
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>livevaastu.in</b></span>
        <span>EMAIL: <br><b>contact@livevaastu.com</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
</div>

</section>


<div style="page-break-after: always;"></div>

<!-- page-43 -->


<section class="vastu-page" style="padding: 0;">

    <!-- HEADER -->

<div class="guideline-header">
    <h1>NORTH MAIN DOOR
</h1>
    <p>Issues: sadness, slowness, delayed results</p>
</div>

<div class="usage-content">

   

<div class="remedy-grid" >
<p style="font-size: 18px;">Planet Direction for your Main Door</p>
<div class="image-container-third image-container">
    <div style="width: 193px;height: 193px;">
  <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/mercury-image.png" alt="">
  </div>
  
  <h3>Planet: 
<br>
Mercury (Budh)</h3>

</div>

<div class="image-container" style="max-height: 193px;
    overflow: hidden;">

<img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/mantra-5.png" alt=""  style="width: 90%;">

</div>


</div>


</div>

<!-- Footer -->
    <div class="footer-container">
    
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>livevaastu.in</b></span>
        <span>EMAIL: <br><b>contact@livevaastu.com</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>


<div style="page-break-after: always;"></div>


<!-- page-44 -->

<section class="vastu-page" style="padding: 0;">

       <!-- HEADER -->

<div class="guideline-header">
    <h1>NORTH MAIN DOOR
</h1>
    <p>Issues: sadness, slowness, delayed results</p>
</div>



<div class="usage-content">
<div class="fix-content">

<div class="fix-divider">
<span>Fixing Material:</span>
</div>

<ul class="fix-list">
<li>Brass plate (small, rectangular), fixed on the outer wall or frame.
</li>
<li>Spice Pouch (Hang Outside): 5 green cardamom (elaichi)</li>
<li>Pouch Colour: Ash grey / light blue</li>
<li>Pouch Colour: Light green cotton</li>
<li>Replacement: Every 45 days</li>
<li>Day to Fix: Wednesday</li>
</ul>

</div>

</div>


<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>livevaastu.in</b></span>
        <span>EMAIL: <br><b>contact@livevaastu.com</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>