<div style="page-break-after: always;"></div>

<!-- page-45 -->


<section class="vastu-page" style="padding: 0;">

    <!-- HEADER -->

<div class="guideline-header">
    <h1>NORTH-East MAIN DOOR
</h1>
    <p>Most sensitive auspicious entry — must remain light and untouched.</p>
</div>

<div class="usage-content">

    
    <h3 style="color: #D60000;">Special Remedies From Desk of Dr. Puneet Chawla</h3>

<div class="remedy-grid" >

<div class="remedy-card">
Keep the entrance minimal and silent — avoid clutter, shoes, or noise.

</div>

<div class="remedy-card">
Do not place heavy décor or furniture near this door.

</div>

<div class="remedy-card">
Every Thursday morning, light camphor inside the house, not at the door.

</div>


<div class="remedy-card">
Use off-white, ivory, or pale yellow near the entrance.

</div>


</div>



</div>

<!-- Footer -->
     <div class="footer-container">
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
</div>

</section>


<div style="page-break-after: always;"></div>

<!-- page-46 -->


<section class="vastu-page" style="padding: 0;">

    <!-- HEADER -->

<div class="guideline-header">
    <h1>NORTH-east MAIN DOOR
</h1>
    <p>Most sensitive auspicious entry — must remain light and untouched.</p>
</div>

<div class="usage-content">

   

<div class="remedy-grid" >
<p style="font-size: 18px;">Planet Direction for your Main Door</p>
<div class="image-container-third image-container">
    <div style="width: 193px;height: 193px;">
  <img src="./images/jupiter-image.png" alt="">
  </div>
  
  <h3>Planet: 
<br>
Jupiter (Guru)</h3>

</div>

<div class="image-container" style="max-height: 193px;
    overflow: hidden;">

<img src="./images/mantra-6.png" alt=""  style="width: 90%;">

</div>


</div>


</div>

<!-- Footer -->
    <div class="footer-container">
    
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>


<div style="page-break-after: always;"></div>


<!-- page-47 -->

<section class="vastu-page" style="padding: 0;">

       <!-- HEADER -->

<div class="guideline-header">
    <h1>NORTH-east MAIN DOOR
</h1>
    <p>Most sensitive auspicious entry — must remain light and untouched.</p>
</div>



<div class="usage-content">
<div class="fix-content">

<div class="fix-divider">
<span>Fixing Material:</span>
</div>

<ul class="fix-list">
<li>Natural wooden plate (plain, unpolished).</li>
<li>Spice Pouch (Hang Outside): 2 turmeric roots (haldi ki gaanth)</li>
<li>Pouch Colour: Ash grey / light blue</li>
<li>Pouch Colour: Light yellow cotton</li>
<li>Replacement: Every 60 days</li>
<li>Day to Fix: Thursday</li>
</ul>

</div>

</div>


<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>