<div style="page-break-after: always;"></div>

<!-- page-south-west-main-door -->


<section class="vastu-page" style="padding: 0;">

    <!-- HEADER -->

<div class="guideline-header">
    <h1>SOUTH-WEST MAIN DOOR
</h1>
    <p>Issues: delay, depression, anxiety, loans, repeated troubles</p>
</div>

<div class="usage-content" style="padding-top: 0;">

    <h3 style="color: #D60000;margin-bottom: 20px;font-size: 26px;">Most sensitive door</h3>
    <h3 style="color: #D60000;">Special Remedies From Desk of Dr. Puneet Chawla</h3>

<div class="remedy-grid" >

<div class="remedy-card">
Place a special made live vaastu Ganesha pair, this a specially made pair with different trunks , guidance written in the manual

</div>

<div class="remedy-card">
Special energy boxes to be placed above the door frame or on the floor level left and right.

</div>

<div class="remedy-card">
Special potli to be hanged in the middle of the door above the door frame from inside.

</div>





</div>

<h3 style="color: #D60000;">Other Remedies</h3>

<div class="remedy-grid" >

<div class="remedy-card">
Keep one heavy wooden item (low stool or small table) just inside the door on the SW side.

</div>

<div class="remedy-card">
Do not hang bags, helmets.

</div>

<div class="remedy-card">
Once a week (Tuesday or Saturday), light camphor inside the house and stand silently near the entrance for 30 seconds.

</div>


<div class="remedy-card">
Use mud-shade / beige / light brown colour near the entrance.

</div>





</div>


</div>

<!-- Footer -->
     <div class="footer-container">
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>livevaastu.in</b></span>
        <span>EMAIL: <br><b>contact@livevaastu.com</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
</div>

</section>


<div style="page-break-after: always;"></div>

<!-- page-rahu -->


<section class="vastu-page" style="padding: 0;">

    <!-- HEADER -->

<div class="guideline-header">
    <h1>SOUTH-WEST MAIN DOOR

</h1>
    <p>Issues: delay, depression, anxiety, loans, repeated troubles</p>
</div>

<div class="usage-content">

   

<div class="remedy-grid" >
<p style="font-size: 18px;">Planetary Fix (Outside the Door)</p>
<div class="image-container-third image-container">
    <div>
  <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/rahu-image.png" alt="">
  </div>
  
  <h3>Planet: 
<br>
Rahu</h3>

</div>

<div class="image-container" style="max-height: 193px;
    overflow: hidden;">

<img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/mantra-15.png" alt=""  style="width: 90%;">

</div>


</div>


</div>

<!-- Footer -->
    <div class="footer-container">
    
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>livevaastu.in</b></span>
        <span>EMAIL: <br><b>contact@livevaastu.com</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>


<div style="page-break-after: always;"></div>


<!-- page-33 -->

<section class="vastu-page" style="padding: 0;">

       <!-- HEADER -->

<div class="guideline-header">
    <h1>SOUTH-WEST MAIN DOOR
</h1>
    <p>Issues: Delay, Depression, Anxiety, Loans, Repeated Troubles</p>
</div>



<div class="usage-content">
<div class="fix-content">

<div class="fix-divider">
<span>Fixing Material:</span>
</div>

<ul class="fix-list">
<li>Heavy natural wood plate (teak/sheesham), matte finish.</li>
<li>Spice Pouch (Hang Outside):</li>
<li>Spice: 7 black pepper grains + small dry coconut fibre</li>
<li>Pouch Colour: Dark brown / mud colour</li>
<li>Replacement: Every 45 days</li>
<li>Day to Fix: Saturday</li>
</ul>

</div>

</div>


<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>livevaastu.in</b></span>
        <span>EMAIL: <br><b>contact@livevaastu.com</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>