<div style="page-break-after: always;"></div>

<!-- page-34 -->


<section class="vastu-page" style="padding: 0;">

    <!-- HEADER -->

<div class="guideline-header">
    <h1>SOUTH-EAST MAIN DOOR</h1>
    <p>Issues: irritation, frustration, legal issues, clashes, fights</p>
</div>

<div class="usage-content">

    
    <h3 >Special Remedies From Desk of Dr. Puneet Chawla</h3>

<div class="remedy-grid" >

<div class="remedy-card">
Place a special made live vaastu Ganesha pair, this a specially made pair with different trunks , guidance written in the manual

</div>

<div class="remedy-card">
Special energy boxes to be placed above the door frame or on the floor level left and right.
<br><a href="#">view details</a>
</div>

<div class="remedy-card">
Special potli to be hanged in the middle of the door above the door frame from inside.
<br><a href="#">view details</a>
</div>





</div>

<h3 >Other Remedies</h3>

<div class="remedy-grid" >

<div class="remedy-card">
Keep one aloe vera or money plant near the entrance (inside or outside).

</div>

<div class="remedy-card">
Open the main door fully for 5 minutes every morning, then close it gently.

</div>

<div class="remedy-card">
Clean the main door handle every Friday with plain water and cloth.

</div>


<div class="remedy-card">
Use peach or light cream colour near the entrance; avoid red and orange.

</div>





</div>


</div>

<!-- Footer -->
     <div class="footer-container">
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
</div>

</section>


<div style="page-break-after: always;"></div>

<!-- page-35 -->


<section class="vastu-page" style="padding: 0;">

    <!-- HEADER -->

<div class="guideline-header">
    <h1>SOUTH-EAST MAIN DOOR
</h1>
    <p>Issues: irritation, frustration, legal issues, clashes, fights</p>
</div>

<div class="usage-content">

   

<div class="remedy-grid" >
<p style="font-size: 18px;">Planet Direction for your Main Door</p>
<div class="image-container-third image-container">
    <div>
  <img src="./images/mars-image.png" alt="">
  </div>
  
  <h3>Planet: 
<br>
Mars (Mangal)</h3>

</div>

<div class="image-container" style="max-height: 193px;
    overflow: hidden;">

<img src="./images/image.png" alt=""  style="width: 90%;">

</div>


</div>


</div>

<!-- Footer -->
    <div class="footer-container">
    
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>
