<div style="page-break-after: always;"></div>

<!-- page-39 -->

<section class="vastu-page" style="padding: 0;">

    <!-- HEADER -->

<div class="guideline-header">
    <h1>WEST MAIN DOOR</h1>
    <p>Issues: sadness, slowness, delayed results</p>
</div>

<div class="usage-content">

    
    <h3 style="color: #D60000;">Special Remedies From Desk of Dr. Puneet Chawla</h3>

<div class="remedy-grid" >

<div class="remedy-card">
Place a special made live vaastu Ganesha pair, this a specially made pair with different trunks , guidance written in the manual

</div>

<div class="remedy-card">
Special energy boxes to be placed above the door frame or on the floor level left and right.

</div>

<div class="remedy-card">
Special potli to be hanged in the middle of the door above the door frame from inside.

</div>





</div>

<h3 >Other Remedies</h3>

<div class="remedy-grid" >

<div class="remedy-card">
Switch on a light near the door every evening at sunset for at least 30 minutes.

</div>

<div class="remedy-card">
Place a square-shaped mat outside the main door.

</div>

<div class="remedy-card">
Clean the door weekly and mentally say one positive sentence while closing it.

</div>


<div class="remedy-card">
Use cream, off-white, or very light blue near the entrance.

</div>





</div>


</div>

<!-- Footer -->
     <div class="footer-container">
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
</div>

</section>


<div style="page-break-after: always;"></div>

<!-- page-40 -->


<section class="vastu-page" style="padding: 0;">

    <!-- HEADER -->

<div class="guideline-header">
    <h1>West MAIN DOOR
</h1>
    <p>Issues: sadness, slowness, delayed results</p>
</div>

<div class="usage-content">

   

<div class="remedy-grid" >
<p style="font-size: 18px;">Planet Direction for your Main Door</p>
<div class="image-container-third image-container">
    <div style="width: 193px;height: 193px;">
  <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/saturn-image.png" alt="">
  </div>
  
  <h3>Planet: 
<br>
Saturn (Shani)</h3>

</div>

<div class="image-container" style="max-height: 193px;
    overflow: hidden;">

<img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/mantra-4.png" alt=""  style="width: 90%;">

</div>


</div>


</div>

<!-- Footer -->
    <div class="footer-container">
    
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>



<div style="page-break-after: always;"></div>


<!-- page-41 -->

<section class="vastu-page" style="padding: 0;">

       <!-- HEADER -->

<div class="guideline-header">
    <h1>West MAIN DOOR</h1>
    <p>Issues: sadness, slowness, delayed results</p>
</div>



<div class="usage-content">
<div class="fix-content">

<div class="fix-divider">
<span>Fixing Material:</span>
</div>

<ul class="fix-list">
<li>Iron or steel plate, thin and matte.</li>
<li>Spice Pouch (Hang Outside): One dry tamarind seed or black sesame husk</li>
<li>Pouch Colour: Ash grey / light blue</li>
<li>Pouch Colour: Brick-peach / muted rose</li>
<li>Replacement: Every 45 days</li>
<li>Day to Fix: Saturday evening (before sunset)</li>
</ul>

</div>

</div>


<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>
