<div style="page-break-after: always;"></div>


<!-- page-73 -->

<section class="vastu-page" style="padding: 0;">

       <!-- HEADER -->

<div class="guideline-header">
    <h1>NORTH-WEST TOILET
</h1>
</div>



<div class="usage-content">
<div class="fix-content">

<div class="fix-divider">
<span>Remedies for the bedrooms</span>
</div>

<ul class="fix-list">

<li style="font-weight: 700;">Place two small indoor plants on either side of the toilet door.
    <br> <br>
</li>

<li style="font-weight: 700;">
On Saturday, keep the toilet door open for 10 minutes after cleaning, then close it firmly. 
<br> <br>
</li>

<li style="font-weight: 700;">
Fix a small metal bell on the outside handle of the toilet door.
It should ring softly when door opens. 
<br> <br>
</li>

<li style="font-weight: 700;">
Cover the toilet mirror with a cloth every night before sleeping.
<br> <br>
</li>


</ul>

</div>

</div>


<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>livevaastu.in</b></span>
        <span>EMAIL: <br><b>contact@livevaastu.com</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>