<div style="page-break-after: always;"></div>


<!-- page-94 -->

<section class="vastu-page" style="padding: 0;">

       <!-- HEADER -->

<div class="guideline-header">
    <h1>KITCHEN DO & DON’T
</h1>
</div>



<div class="usage-content">
<div class="fix-content">

<div class="fix-divider">
<span>Remedies for the Kitchen</span>
</div>
<p style="color: #D60000;font-size: 17px;font-weight: 600;text-align: left;">DO’s</p>
<ul class="fix-list" style="padding-left: 25px;
    margin-top: 31px;">

<li style="font-weight: 700;">Always keep the gas stove clean after use.
<br> <br>
</li>

<li style="font-weight: 700;">
Light the kitchen lamp every morning, even if cooking is not done.
<br> <br>
</li>

<li style="font-weight: 700;">
Use covered containers for grains and spices.
<br> <br>
</li>


<li style="font-weight: 700;">
Keep one window or exhaust functional.
<br> <br>
</li>


<li style="font-weight: 700;">
Maintain respectful silence while cooking (avoid arguments).
<br> <br>
</li>

</ul>

<p style="color: #D60000;font-size: 17px;font-weight: 600;text-align: left;">DONT’s</p>
<ul class="fix-list" style="padding-left: 25px;
    margin-top: 31px;">

<li style="font-weight: 700;">Do not keep broken utensils or chipped crockery.
<br> <br>
</li>

<li style="font-weight: 700;">
Do not store medicine, documents, or money in the kitchen.
<br> <br>
</li>

<li style="font-weight: 700;">
Do not place dustbin directly under the sink.
<br> <br>
</li>


<li style="font-weight: 700;">
Do not allow water leakage near the stove.
<br> <br>
</li>


<li style="font-weight: 700;">
Do not cook in anger, stress, or loud arguments regularly.
<br> <br>
</li>

</ul>

</div>


</div>


<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>


<div style="page-break-after: always;"></div>


<!-- page-95 -->

<section class="vastu-page" style="padding: 0;">

       <!-- HEADER -->

<div class="guideline-header">
    <h1>General guidelines for the Mandir temple
</h1>
</div>



<div class="usage-content">
<div class="fix-content">

<div class="fix-divider">
<span>Remedies for the Temple</span>
</div>
<div>
    <img src="./images/temple-image.png" width="320" height="252" alt="">
</div>

<ul class="fix-list" style="margin-top: 50px;">

<li style="font-weight: 700;">The best materials for a Mandir are wood and marble.
<br> <br>
</li>

<li style="font-weight: 700;">
The mandir should never be adjacent to a bathroom. It should also be kept in mind not to make a temple inside the kitchen or bedroom.
<br> <br>
</li>

<li style="font-weight: 700;">
It is not at all advisable to build a mandir underneath the staircase or position a structure over it as it would lead you to stepping over it symbolically.
<br> <br>
</li>


<li style="font-weight: 700;">
The idols should always be placed on a wooden platform and not on ply or laminated wood. You can use rose wood or even marble or stone for that matter
<br> <br>
</li>

</ul>

</div>


</div>


<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>


<div style="page-break-after: always;"></div>


<!-- page-96 -->

<section class="vastu-page" style="padding: 0;">

       <!-- HEADER -->

<div class="guideline-header">
    <h1>General guidelines for the Mandir temple
</h1>
</div>



<div class="usage-content">
<div class="fix-content">

<div class="fix-divider">
<span>Remedies for the Temple</span>
</div>


<ul class="fix-list">

<li style="font-weight: 700;">The size of the idols should never exceed that of the thumb of the owner of the house. Idols bigger in size, than this, are ideally placed in a community temple, worshipped by one and all, after conducting a Praan Pratishtha ceremony which induces them with life energy power.
<br> <br>
</li>

<li style="font-weight: 700;">
Too many pictures or symbols of a single God should be avoided.
<br> <br>
</li>

<li style="font-weight: 700;">
Every evening, a diya or incense stick should be lighted before the idols in your Mandir.
<br> <br>
</li>


<li style="font-weight: 700;">
The photo or picture of a Guru or a deceased person should never be placed in the Mandir along with the other Gods and Goddesses, as they were human beings who are definitely lower in position as compared to God, Almighty.
<br> <br>
</li>


<li style="font-weight: 700;">
You should avoid placing pictures, tiles and idols of Lord Ganesha on the gates or at the entrance of your house. It is believed that Goddess Lakshmi’s sister, named Daridrata (meaning poverty) occupies the place on the back of Lord Ganesha and hence you should never position this deity’s pictures with His back to the house. This would mean you are inviting poverty inside your house.
<br> <br>
</li>

</ul>

</div>


</div>


<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>

<div style="page-break-after: always;"></div>