<div style="page-break-after: always;"></div>


<!-- page-82 -->

  <section class="vastu-page kitchen-container" style="padding: 0;">

    <h1 class="page-title">EAST KITCHEN</h1>

  <div class="doctor-banner">

      <div class="doctor-image">
        <!-- Replace with actual image -->
        <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/doctor-img.png?v=1773982061" alt="Doctor">
      </div>

      <div class="banner-content">
        <div class="banner-title">TIME TESTED REMEDIES</div>
        <div class="banner-subtitle">BY DR. PUNEET CHAWLA</div>
      </div>

    </div>

  <div class="kitchen-sub-con">

        <div class="general-list">

        <!-- Item 1 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                1
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

              <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;">
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">KITCHEN ENERGY BOXES</div>
    </div>

    <div class="bedroom-desc">
      Kitchen Energy Boxes to be placed <br>on the left and right of the gas stove.
    </div>
  </div>

        </div>


        <!-- Item 2 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                2
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

               <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;">
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">SPECIAL KITCHEN POTLI</div>
    </div>

    <div class="bedroom-desc">
      Special Kitchen Potli to be placed <br> at the top of the kitchen entrance/opening.
    </div>
  </div>

        </div>


        <!-- Item 3 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                3
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

                    <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;">
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">AUSPICIOUS KITCHEN KALASH</div>
    </div>

    <div class="bedroom-desc">
      Auspicious Kitchen Kalash to be placed <br>in the North-East corner of the kitchen.
    </div>
  </div>

        </div>


      

    </div>
      <div class="kitchen-image">
 
      <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/east-kitchen-image.jpg?v=1781772163" alt="Kitchen" style="width: 90%;
    height: 360px;
    object-fit: cover;
    object-position: bottom center;">
    </div>
</div>
<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b><a href="https://livevaastu.in/" target="_blank">livevaastu.in</a></b></span>
        <span>EMAIL: <br><b><a href="mailto:contact@livevaastu.com">contact@livevaastu.com</a></b></span>
        <span>MOBILE: <br><b><a href="tel:9555666667">95556 66667</a></b></span>
</div>
    </div>

  </section>


<div style="page-break-after: always;"></div>


<!-- page-89 -->

 <section class="vastu-page kitchen-container" style="padding: 0;">

    <h1 class="page-title">EAST KITCHEN</h1>

  <div class="doctor-banner">

      <div class="doctor-image">
        <!-- Replace with actual image -->
        <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/doctor-img.png?v=1773982061" alt="Doctor">
      </div>

      <div class="banner-content">
        <div class="banner-title">ASTRO VASTU REMEDIES</div>
        <div class="banner-subtitle">BY DR. PUNEET CHAWLA</div>
      </div>

    </div>

  <div class="kitchen-sub-con">

        <div class="general-list">

        <!-- Item 1 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                1
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

              <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;">
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">COPPER PLATE NEAR ENTRY</div>
    </div>

    <div class="bedroom-desc">
      Copper plate near entry
    </div>
  </div>

        </div>


        <!-- Item 2 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                2
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

               <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;display: flex;
    justify-content: space-between;align-items: center;">
                <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">REMEDIES FOR THE KITCHEN</div>
    </div>

    <div class="bedroom-desc">
      Bay leaf + turmeric in yellow pouch
    </div>
    </div>
    <svg width="120" height="75" viewBox="0 0 120 75" fill="none" xmlns="http://www.w3.org/2000/svg">
  <!-- Yellow pouch -->
  <path d="M48 13C50 5 68 5 70 13C65 18 53 18 48 13Z" fill="#D99B18"/>
  <path d="M46 14C43 30 40 55 59 65C78 55 75 30 72 14C65 20 53 20 46 14Z" fill="#D69A1F" stroke="#7A4E10" stroke-width="1.5"/>
  <path d="M51 16C55 19 63 19 68 16" stroke="#7A4E10" stroke-width="1.3"/>
  <path d="M52 12L47 4" stroke="#7A4E10" stroke-width="1.5"/>
  <path d="M67 12L73 4" stroke="#7A4E10" stroke-width="1.5"/>

  <!-- Turmeric roots -->
  <ellipse cx="42" cy="62" rx="8" ry="5" fill="#E49518" stroke="#9A5A0A" stroke-width="1"/>
  <ellipse cx="54" cy="65" rx="8" ry="5" fill="#D6790C" stroke="#9A5A0A" stroke-width="1"/>
  <ellipse cx="65" cy="62" rx="8" ry="5" fill="#EEA11B" stroke="#9A5A0A" stroke-width="1"/>
  <path d="M39 61C42 60 46 61 49 63" stroke="#B76808" stroke-width="0.8"/>
  <path d="M51 65C55 63 59 64 62 66" stroke="#B76808" stroke-width="0.8"/>

  <!-- Bay leaves -->
  <path d="M72 60C85 49 99 48 111 55C99 66 84 69 72 60Z" fill="#777843" stroke="#54522D" stroke-width="1.5"/>
  <path d="M73 60C84 58 96 56 109 55" stroke="#B7AD6A" stroke-width="1"/>
  <path d="M80 54C90 45 101 45 110 50C101 59 90 61 80 54Z" fill="#85864B" stroke="#54522D" stroke-width="1.3"/>
</svg>
  </div>

        </div>


        <!-- Item 3 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                3
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

                    <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;display: flex;
    justify-content: space-between;align-items: center;">
    <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">MORNING SUNLIGHT DAILY</div>
    </div>

    <div class="bedroom-desc">
      Morning sunlight daily
    </div>
</div>
    <svg width="70" height="55" viewBox="0 0 70 55" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="35" cy="28" r="9" fill="#F4A62A"/>

  <g stroke="#F4A62A" stroke-width="2" stroke-linecap="round">
    <line x1="35" y1="6" x2="35" y2="14"/>
    <line x1="35" y1="42" x2="35" y2="50"/>
    <line x1="13" y1="28" x2="21" y2="28"/>
    <line x1="49" y1="28" x2="57" y2="28"/>

    <line x1="20" y1="13" x2="25" y2="18"/>
    <line x1="45" y1="38" x2="50" y2="43"/>
    <line x1="50" y1="13" x2="45" y2="18"/>
    <line x1="25" y1="38" x2="20" y2="43"/>
  </g>
</svg>
  </div>

        </div>


      

    </div>

    <div class="bottom-section">

      <!-- LEFT -->

      <div class="planet-card" style="height: 150px !important;min-height: 150px;">

        <div class="planet-image" style="height: 100px !important;width: 100px;">
          <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/sun-image.png?v=1773982025" alt="sun" style="height: 150px !important;width: 150px;">
        </div>

        <div class="planet-text">
          Planet: <span>Sun (Surya)</span>
        </div>

      </div>


      <!-- RIGHT -->

      <div class="mantra-card" style="background-image: url('https://cdn.shopify.com/s/files/1/0758/2911/7240/files/sun-mantra.png?v=1780572311');height: 150px;min-height: 150px;">

      </div>

    </div>
</div>
<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b><a href="https://livevaastu.in/" target="_blank">livevaastu.in</a></b></span>
        <span>EMAIL: <br><b><a href="mailto:contact@livevaastu.com">contact@livevaastu.com</a></b></span>
        <span>MOBILE: <br><b><a href="tel:9555666667">95556 66667</a></b></span>
</div>
    </div>

  </section>