<div style="page-break-after: always;"></div>


<!-- page-83 -->

<section class="vastu-page" style="padding: 0;">

       <!-- HEADER -->

<div class="guideline-header">
    <h1>North-West Kitchen – Special Remedies
</h1>
</div>



<div class="usage-content">
<div class="fix-content">

<div class="fix-divider">
<span>Remedies for the Kitchen</span>
</div>

<ul class="fix-list">

<li style="font-weight: 700;">Kitchen Energy Boxes on both sides of the gas stove.
<br> <br>
</li>

<li style="font-weight: 700;">
Special Kitchen Potli at the top of the kitchen entrance/opening.
<br> <br>
</li>

<li style="font-weight: 700;">
Auspicious Kitchen Kalash in the North-West zone of the kitchen.
<br> <br>
</li>


</ul>

</div>

</div>


<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>


<div style="page-break-after: always;"></div>


<!-- page-90 -->

<section class="vastu-page" style="padding: 0;">

       <!-- HEADER -->

<div class="guideline-header">
    <h1>North-West Kitchen
</h1>
</div>



<div class="usage-content">
<div class="fix-content">

<div class="fix-divider">
<span>Remedies for the Kitchen</span>
</div>

<ul class="fix-list">

<li style="font-weight: 700;">Steel plate
<br> <br>
</li>

<li style="font-weight: 700;">
Cardamom husk in white pouch
<br> <br>
</li>

<li style="font-weight: 700;">
Avoid late-night cooking regularly
<br> <br>
</li>

</ul>

</div>

<div class="remedy-grid" >
<p style="font-size: 18px;font-weight: 600;">Planet Direction for your Main Door</p>
<div class="image-container-third image-container">
    <div style="height: 200px;
    width: 200px;">
  <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/moon-image.png" alt="">
  </div>
  
  <h3>Planet: 
<br>
Moon</h3>

</div>

<div class="image-container" style="max-height: 193px;
    overflow: hidden;">

<img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/mantra-11.png" alt=""  style="width: 90%;">

</div>


</div>

</div>


<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>