<div style="page-break-after: always;"></div>


<!-- page-80 -->

 <section class="vastu-page kitchen-container" style="padding: 0;">

    <h1 class="page-title">NORTH EAST KITCHEN</h1>

  <div class="doctor-banner">

      <div class="doctor-image">
        <!-- Replace with actual image -->
        <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/doctor-img.png?v=1773982061" alt="Doctor">
      </div>

      <div class="banner-content">
        <div class="banner-title">TIME TESTED REMEDIES</div>
        <div class="banner-subtitle">BY DR. PUNEET CHAWLA</div>
      </div>

    </div>

  <div class="kitchen-sub-con">

        <div class="general-list">

        <!-- Item 1 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                1
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

              <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;">
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">KITCHEN ENERGY BOXES</div>
    </div>

    <div class="bedroom-desc">
      Kitchen Energy Boxes to be placed <br>
on the left and right of the gas stove.
    </div>
  </div>

        </div>


        <!-- Item 2 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                2
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

               <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;">
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">SPECIAL KITCHEN POTLI</div>
    </div>

    <div class="bedroom-desc"> 
      Special Kitchen Potli to be placed <br>
at the top of the kitchen entrance/opening.
    </div>
  </div>

        </div>


        <!-- Item 3 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                3
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

                    <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;">
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">AUSPICIOUS KITCHEN KALASH</div>
    </div>

    <div class="bedroom-desc">
      Auspicious Kitchen Kalash to be placed <br>
in the North-East corner of the kitchen.
    </div>
  </div>

        </div>


      

    </div>
      <div class="kitchen-image">
 
      <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/east-kitchen-image.jpg?v=1781772163" alt="Kitchen" style="width: 90%;
    height: 360px;
    object-fit: cover;
    object-position: bottom center;">
    </div>
</div>
<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b><a href="https://livevaastu.in/" target="_blank">livevaastu.in</a></b></span>
        <span>EMAIL: <br><b><a href="mailto:contact@livevaastu.com">contact@livevaastu.com</a></b></span>
        <span>MOBILE: <br><b><a href="tel:9555666667">95556 66667</a></b></span>
</div>
    </div>

  </section>


<div style="page-break-after: always;"></div>


<!-- page-87 -->

<section class="vastu-page kitchen-container" style="padding: 0;">

    <h1 class="page-title">NORTH EAST KITCHEN</h1>

  <div class="doctor-banner">

      <div class="doctor-image">
        <!-- Replace with actual image -->
        <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/doctor-img.png?v=1773982061" alt="Doctor">
      </div>

      <div class="banner-content">
        <div class="banner-title">ASTRO VASTU REMEDIES</div>
        <div class="banner-subtitle">BY DR. PUNEET CHAWLA</div>
      </div>

    </div>

  <div class="kitchen-sub-con">

        <div class="general-list">

        <!-- Item 1 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                1
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

              <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;display: flex;
    justify-content: space-between;align-items: center;">
    <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">WOODEN MANTRA PLATE NEAR KITCHEN ENTRY</div>
    </div>

    <div class="bedroom-desc">
      Wooden mantra plate near kitchen entry
    </div>

    </div>
    <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/wooden-mantra-plate.png?v=1781788038" alt="" width="100">
  </div>

        </div>


        <!-- Item 2 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                2
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

               <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;display: flex;
    justify-content: space-between;align-items: center;">
                <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">TURMERIC ROOTS (2) IN YELLOW POUCH</div>
    </div>

    <div class="bedroom-desc">
      Turmeric roots (2) in yellow pouch
    </div>
    </div>
   <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/turmic-root-pouch.png?v=1781788091" alt="" width="100">
  </div>

        </div>


        <!-- Item 3 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                3
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

                    <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;display: flex;
    justify-content: space-between;align-items: center;">
    <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">LIGHT CAMPHOR EVERY THURSDAY MORNING</div>
    </div>

    <div class="bedroom-desc">
      Light camphor every Thursday morning
    </div>
</div>
  <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/camphor-image.svg?v=1780500152" alt="" width="100">
  </div>

        </div>


      

    </div>

    <div class="bottom-section">

      <!-- LEFT -->

      <div class="planet-card" style="height: 150px !important;min-height: 150px;">

        <div class="planet-image" style="height: 100px !important;width: 100px;">
          <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/jupiter-image.png?v=1773982062" alt="jupiter" style="height: 150px !important;width: 150px;">
        </div>

        <div class="planet-text">
          Planet: <span>Jupiter (Guru)</span>
        </div>

      </div>


      <!-- RIGHT -->

      <div class="mantra-card" style="background-image: url('https://cdn.shopify.com/s/files/1/0758/2911/7240/files/north-east-main-door-mantra.jpg?v=1780501236');height: 150px;min-height: 150px;">

      </div>

    </div>
</div>
<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b><a href="https://livevaastu.in/" target="_blank">livevaastu.in</a></b></span>
        <span>EMAIL: <br><b><a href="mailto:contact@livevaastu.com">contact@livevaastu.com</a></b></span>
        <span>MOBILE: <br><b><a href="tel:9555666667">95556 66667</a></b></span>
</div>
    </div>

  </section>