<div style="page-break-after: always;"></div>


<!-- page-83 -->

<section class="vastu-page kitchen-container" style="padding: 0;">

    <h1 class="page-title">NORTH WEST KITCHEN</h1>

  <div class="doctor-banner">

      <div class="doctor-image">
        <!-- Replace with actual image -->
        <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/doctor-img.png?v=1773982061" alt="Doctor">
      </div>

      <div class="banner-content">
        <div class="banner-title">TIME TESTED REMEDIES</div>
        <div class="banner-subtitle">BY DR. PUNEET CHAWLA</div>
      </div>

    </div>

  <div class="kitchen-sub-con">

        <div class="general-list">

        <!-- Item 1 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                1
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

              <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;">
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">KITCHEN ENERGY BOXES</div>
    </div>

    <div class="bedroom-desc">
      Kitchen Energy Boxes <br>
on both sides of the gas stove.
    </div>
  </div>

        </div>


        <!-- Item 2 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                2
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

               <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;display: flex;justify-content: space-between; align-items: center;">
                <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">SPECIAL KITCHEN POTLI</div>
    </div>

    <div class="bedroom-desc"> 
      Special Kitchen Potli <br>
at the top of the kitchen <br>
 entrance/opening.
    </div>

</div>
<img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/special-kitchen-potli.png?v=1781789891" alt="" width="100">
  </div>

        </div>


        <!-- Item 3 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                3
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

                    <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;display: flex;justify-content: space-between; align-items: center;">
                      <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">AUSPICIOUS KITCHEN KALASH</div>
    </div>

    <div class="bedroom-desc">
      Auspicious Kitchen Kalash <br>
in the North-West zone <br>
of the kitchen. <br>
    </div>
</div>

<img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/golden-kalash.png?v=1781789891" alt="" width="100">

  </div>

        </div>


      

    </div>
      <div class="kitchen-image">
 
      <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/north-west-kitchen-image.jpg?v=1781789376" alt="Kitchen" style="width: 90%;
    height: 320px;
    object-fit: cover;
    object-position: bottom center;">
    </div>
</div>
<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b><a href="https://livevaastu.in/" target="_blank">livevaastu.in</a></b></span>
        <span>EMAIL: <br><b><a href="mailto:contact@livevaastu.com">contact@livevaastu.com</a></b></span>
        <span>MOBILE: <br><b><a href="tel:9555666667">95556 66667</a></b></span>
</div>
    </div>

  </section>


<div style="page-break-after: always;"></div>


<!-- page-90 -->

<section class="vastu-page kitchen-container" style="padding: 0;">

    <h1 class="page-title">NORTH WEST KITCHEN</h1>

  <div class="doctor-banner">

      <div class="doctor-image">
        <!-- Replace with actual image -->
        <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/doctor-img.png?v=1773982061" alt="Doctor">
      </div>

      <div class="banner-content">
        <div class="banner-title">ASTRO VASTU REMEDIES</div>
        <div class="banner-subtitle">BY DR. PUNEET CHAWLA</div>
      </div>

    </div>

  <div class="kitchen-sub-con">

        <div class="general-list">

        <!-- Item 1 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                1
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

              <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;display: flex;
    justify-content: space-between;align-items: center;">
    <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">STEEL PLATE</div>
    </div>

    <div class="bedroom-desc">
      Steel plate
    </div>

    </div>
   <svg width="120" height="70" viewBox="0 0 120 70" fill="none" xmlns="http://www.w3.org/2000/svg">
  <ellipse cx="60" cy="38" rx="42" ry="18" fill="#D8D8D8"/>
  <ellipse cx="60" cy="35" rx="42" ry="17" fill="#F8F5EF" stroke="#6B6258" stroke-width="2"/>
  <ellipse cx="60" cy="35" rx="34" ry="12" fill="#E9E4DC" stroke="#A49B91" stroke-width="1.5"/>
  <path d="M24 34C36 25 84 25 96 34" stroke="#FFFFFF" stroke-width="3" opacity="0.8"/>
  <path d="M28 42C42 50 78 50 92 42" stroke="#8D857D" stroke-width="1.5" opacity="0.5"/>
</svg>
  </div>

        </div>


        <!-- Item 2 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                2
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

               <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;display: flex;
    justify-content: space-between;align-items: center;">
                <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">CARDAMOM HUSK IN WHITE POUCH</div>
    </div>

    <div class="bedroom-desc">
     Cardamom husk <br>
in white pouch
    </div>
    </div>
   <svg width="120" height="75" viewBox="0 0 120 75" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M48 18C50 10 70 10 72 18C66 23 54 23 48 18Z" fill="#F7F2EA" stroke="#B9A99A" stroke-width="1.5"/>
  <path d="M46 19C43 35 40 60 60 68C80 60 77 35 74 19C67 25 53 25 46 19Z" fill="#FFF9F1" stroke="#B9A99A" stroke-width="1.8"/>
  <path d="M50 21C56 25 66 25 71 21" stroke="#D5C7B8" stroke-width="1.4"/>
  <path d="M52 17L47 8" stroke="#C3B3A4" stroke-width="1.7"/>
  <path d="M69 17L74 8" stroke="#C3B3A4" stroke-width="1.7"/>

  <ellipse cx="58" cy="48" rx="6" ry="4" fill="#9B7A32" stroke="#5E481D" stroke-width="1"/>
  <ellipse cx="67" cy="47" rx="6" ry="4" fill="#8C6E2E" stroke="#5E481D" stroke-width="1"/>
  <ellipse cx="62" cy="55" rx="6" ry="4" fill="#A0833A" stroke="#5E481D" stroke-width="1"/>

  <ellipse cx="35" cy="62" rx="8" ry="3" fill="#9B8D3D"/>
  <ellipse cx="44" cy="59" rx="8" ry="3" fill="#B0A046"/>
  <ellipse cx="50" cy="65" rx="8" ry="3" fill="#8C8238"/>
</svg>
  </div>

        </div>


        <!-- Item 3 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                3
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

                    <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;display: flex;
    justify-content: space-between;align-items: center;">
    <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">AVOID LATE-NIGHT COOKING REGULARLY</div>
    </div>

    <div class="bedroom-desc">
      Avoid late-night <br>
cooking regularly
    </div>
</div>
  <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="45" cy="45" r="32" fill="#2F2C29" stroke="#D79428" stroke-width="4"/>
  <circle cx="45" cy="45" r="3" fill="#D79428"/>

  <path d="M42 20C36 24 34 33 39 39C35 39 31 37 28 34C29 44 37 50 46 48C55 46 60 38 58 29C54 34 48 34 45 29C43 26 42 23 42 20Z" fill="#F1B33A"/>

  <g stroke="#D79428" stroke-width="2" stroke-linecap="round">
    <line x1="45" y1="18" x2="45" y2="25"/>
    <line x1="45" y1="65" x2="45" y2="72"/>
    <line x1="18" y1="45" x2="25" y2="45"/>
    <line x1="65" y1="45" x2="72" y2="45"/>
    <line x1="29" y1="29" x2="34" y2="34"/>
    <line x1="61" y1="29" x2="56" y2="34"/>
    <line x1="29" y1="61" x2="34" y2="56"/>
    <line x1="61" y1="61" x2="56" y2="56"/>
  </g>

  <path d="M18 72L72 18" stroke="#D79428" stroke-width="4" stroke-linecap="round"/>
</svg>
  </div>

        </div>


      

    </div>

    <div class="bottom-section">

      <!-- LEFT -->

      <div class="planet-card" style="height: 150px !important;min-height: 150px;">

        <div class="planet-image" style="height: 100px !important;width: 100px;">
          <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/moon-image.png?v=1773981985" alt="moon" style="height: 150px !important;width: 150px;">
        </div>

        <div class="planet-text">
          Planet: <span>Moon (Chandra)</span>
        </div>

      </div>


      <!-- RIGHT -->

      <div class="mantra-card" style="background-image: url('https://cdn.shopify.com/s/files/1/0758/2911/7240/files/moon-mantra-new.jpg?v=1781791617');height: 150px;min-height: 150px;">

      </div>

    </div>
</div>
<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b><a href="https://livevaastu.in/" target="_blank">livevaastu.in</a></b></span>
        <span>EMAIL: <br><b><a href="mailto:contact@livevaastu.com">contact@livevaastu.com</a></b></span>
        <span>MOBILE: <br><b><a href="tel:9555666667">95556 66667</a></b></span>
</div>
    </div>

  </section>