<div style="page-break-after: always;"></div>


<!-- page-85 -->

 <section class="vastu-page kitchen-container" style="padding: 0;">

    <h1 class="page-title">SOUTH KITCHEN</h1>

  <div class="doctor-banner">

      <div class="doctor-image">
        <!-- Replace with actual image -->
        <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/doctor-img.png?v=1773982061" alt="Doctor">
      </div>

      <div class="banner-content">
        <div class="banner-title">TIME TESTED REMEDIES</div>
        <div class="banner-subtitle">BY DR. PUNEET CHAWLA</div>
      </div>

    </div>

  <div class="kitchen-sub-con">

        <div class="general-list">

        <!-- Item 1 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                1
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

              <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;display: flex;
    justify-content: space-between;align-items: center;">
    <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">KITCHEN ENERGY BOXES</div>
    </div>

    <div class="bedroom-desc">
    Kitchen Energy Boxes <br>
on both sides of the gas stove.
    </div>

    </div>
<img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/kitchen-energy-box.png?v=1781792726" alt="" width="100">
  </div>

        </div>


        <!-- Item 2 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                2
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

               <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;display: flex;
    justify-content: space-between;align-items: center;">
                <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">SPECIAL KITCHEN POTLI</div>
    </div>

    <div class="bedroom-desc">
    Special Kitchen Potli <br>
at the top of the kitchen <br>
entrance/opening.
    </div>
    </div>
 <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/special-kitchen-potli.png?v=1781789891" alt="" width="100">
  </div>

        </div>


        <!-- Item 3 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                3
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

                    <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;display: flex;
    justify-content: space-between;align-items: center;">
    <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">AUSPICIOUS KITCHEN KALASH</div>
    </div>

    <div class="bedroom-desc">
     Auspicious Kitchen Kalash <br>
in the South zone <br>
of the kitchen.
    </div>
</div>
 <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/golden-kalash.png?v=1781789891" alt="" width="100">
  </div>

        </div>


      

    </div>

         <div class="kitchen-image">
 
      <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/south-kitchen-kalash.jpg?v=1781860931" alt="Kitchen" style="width: 90%;
    height: 300px;
    object-fit: cover;
    object-position: bottom center;">
    </div>
</div>
<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b><a href="https://livevaastu.in/" target="_blank">livevaastu.in</a></b></span>
        <span>EMAIL: <br><b><a href="mailto:contact@livevaastu.com">contact@livevaastu.com</a></b></span>
        <span>MOBILE: <br><b><a href="tel:9555666667">95556 66667</a></b></span>
</div>
    </div>

  </section>



<div style="page-break-after: always;"></div>


<!-- page-92 -->

<section class="vastu-page kitchen-container" style="padding: 0;">

    <h1 class="page-title">SOUTH KITCHEN</h1>

  <div class="doctor-banner">

      <div class="doctor-image">
        <!-- Replace with actual image -->
        <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/doctor-img.png?v=1773982061" alt="Doctor">
      </div>

      <div class="banner-content">
        <div class="banner-title">ASTRO VASTU REMEDIES</div>
        <div class="banner-subtitle">BY DR. PUNEET CHAWLA</div>
      </div>

    </div>

  <div class="kitchen-sub-con">

        <div class="general-list">

        <!-- Item 1 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                1
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

              <div class="bedroom-text" style="margin-left: 20px !important;padding: 5px 0;display: flex;
    justify-content: space-between;align-items: center;">
    <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">WOODEN PLATE</div>
    </div>

    <div class="bedroom-desc">
    Wooden plate
    </div>

    </div>
<img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/wooden_plate.png?v=1779096345" alt="" width="100">
  </div>

        </div>


        <!-- Item 2 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                2
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

               <div class="bedroom-text" style="margin-left: 20px !important;padding: 5px 0;display: flex;
    justify-content: space-between;align-items: center;">
                <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">BAY LEAVES IN PEACH POUCH</div>
    </div>

    <div class="bedroom-desc">
    Bay leaves <br>
in peach pouch
    </div>
    </div>
<svg width="120" height="80" viewBox="0 0 120 80" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M58 18C60 10 78 10 80 18C74 24 64 24 58 18Z" fill="#E7A58F"/>
  <path d="M56 20C53 36 50 62 69 71C88 62 85 36 82 20C75 27 63 27 56 20Z" fill="#EAA18E" stroke="#9C5B47" stroke-width="1.5"/>
  <path d="M60 21C65 25 75 25 80 21" stroke="#9C5B47" stroke-width="1.2"/>
  <path d="M61 17L56 8" stroke="#8B4A36" stroke-width="1.5"/>
  <path d="M79 17L84 8" stroke="#8B4A36" stroke-width="1.5"/>

  <path d="M15 64C32 50 49 50 63 58C48 72 30 75 15 64Z" fill="#7F7D43" stroke="#56552D" stroke-width="1.3"/>
  <path d="M18 64C32 61 48 59 62 58" stroke="#B6AA70" stroke-width="1"/>
  <path d="M31 70C45 60 61 60 75 66C61 76 45 79 31 70Z" fill="#8A894B" stroke="#56552D" stroke-width="1.3"/>
</svg>
  </div>

        </div>


        <!-- Item 3 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                3
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

                    <div class="bedroom-text" style="margin-left: 20px !important;padding: 5px 0;display: flex;
    justify-content: space-between;align-items: center;">
    <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">REMEDIES FOR THE KITCHEN</div>
    </div>

    <div class="bedroom-desc">
     Remedies for <br>
the Kitchen
    </div>
</div>
 <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="50" cy="50" r="42" stroke="#D99B35" stroke-width="1.4"/>
  <circle cx="50" cy="50" r="34" stroke="#D99B35" stroke-width="1" stroke-dasharray="3 3"/>

  <g stroke="#D99B35" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="M22 64H78"/>
    <path d="M29 64V49H71V64"/>
    <path d="M38 64V55H48V64"/>
    <path d="M56 64V55H66V64"/>

    <path d="M34 49V41H44V49"/>
    <path d="M56 49V41H66V49"/>

    <path d="M34 31H46L42 43H30L34 31Z"/>
    <path d="M59 30V44"/>
    <path d="M66 30V44"/>
    <path d="M73 30V44"/>
    <path d="M57 44H75"/>

    <path d="M28 76H72"/>
    <path d="M42 76C47 69 53 69 58 76"/>
    <path d="M36 78C45 84 55 84 64 78"/>
  </g>
</svg>
  </div>

        </div>


      <!-- item-4 -->
          <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                4
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

                    <div class="bedroom-text" style="margin-left: 20px !important;padding: 5px 0;display: flex;
    justify-content: space-between;align-items: center;">
    <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">SWITCH ON KITCHEN LIGHT EVERY MORNING</div>
    </div>

    <div class="bedroom-desc">
     Switch on kitchen light <br>
every morning
    </div>
</div>
 <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g stroke="#F0A62A" stroke-width="2.2" stroke-linecap="round">
    <line x1="45" y1="8" x2="45" y2="18"/>
    <line x1="45" y1="72" x2="45" y2="82"/>
    <line x1="16" y1="45" x2="26" y2="45"/>
    <line x1="64" y1="45" x2="74" y2="45"/>
    <line x1="25" y1="25" x2="32" y2="32"/>
    <line x1="65" y1="25" x2="58" y2="32"/>
    <line x1="25" y1="65" x2="32" y2="58"/>
    <line x1="65" y1="65" x2="58" y2="58"/>
  </g>

  <path d="M45 22C33 22 25 31 25 42C25 50 30 57 36 61V68H54V61C60 57 65 50 65 42C65 31 57 22 45 22Z"
        fill="#FFE082" stroke="#D98E18" stroke-width="2"/>
  <path d="M37 69H53" stroke="#5C5C5C" stroke-width="3" stroke-linecap="round"/>
  <path d="M38 75H52" stroke="#5C5C5C" stroke-width="3" stroke-linecap="round"/>
  <path d="M41 80H49" stroke="#5C5C5C" stroke-width="3" stroke-linecap="round"/>
  <path d="M39 55C41 48 49 48 51 55" stroke="#D98E18" stroke-width="2" fill="none"/>
</svg>
  </div>

        </div>

    </div>

    <div class="bottom-section">

      <!-- LEFT -->

      <div class="planet-card" style="height: 150px !important;min-height: 150px;">

        <div class="planet-image" style="height: 100px !important;width: 100px;">
          <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/sun-image.png?v=1773982025" alt="sun" style="height: 150px !important;width: 150px;">
        </div>

        <div class="planet-text">
          Planet: <span>Sun (Surya)</span>
        </div>

      </div>


      <!-- RIGHT -->

      <div class="mantra-card" style="background-image: url('https://cdn.shopify.com/s/files/1/0758/2911/7240/files/sun-mantra.png?v=1780572311');height: 150px;min-height: 150px;">

      </div>

    </div>
</div>
<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b><a href="https://livevaastu.in/" target="_blank">livevaastu.in</a></b></span>
        <span>EMAIL: <br><b><a href="mailto:contact@livevaastu.com">contact@livevaastu.com</a></b></span>
        <span>MOBILE: <br><b><a href="tel:9555666667">95556 66667</a></b></span>
</div>
    </div>

  </section>