<div style="page-break-after: always;"></div>


<!-- page-84 -->

  <section class="vastu-page kitchen-container" style="padding: 0;">

    <h1 class="page-title">WEST KITCHEN</h1>

  <div class="doctor-banner">

      <div class="doctor-image">
        <!-- Replace with actual image -->
        <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/doctor-img.png?v=1773982061" alt="Doctor">
      </div>

      <div class="banner-content">
        <div class="banner-title">TIME TESTED REMEDIES</div>
        <div class="banner-subtitle">BY DR. PUNEET CHAWLA</div>
      </div>

    </div>

  <div class="kitchen-sub-con">

        <div class="general-list">

        <!-- Item 1 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                1
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

              <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;display: flex;
    justify-content: space-between;align-items: center;">
    <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">KITCHEN ENERGY BOXES</div>
    </div>

    <div class="bedroom-desc">
    Kitchen Energy Boxes <br>
on both sides of the gas stove.
    </div>

    </div>
<img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/kitchen-energy-box.png?v=1781792726" alt="" width="100">
  </div>

        </div>


        <!-- Item 2 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                2
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

               <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;display: flex;
    justify-content: space-between;align-items: center;">
                <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">SPECIAL KITCHEN POTLI</div>
    </div>

    <div class="bedroom-desc">
    Special Kitchen Potli <br>
at the top of the kitchen <br>
entrance/opening.
    </div>
    </div>
 <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/special-kitchen-potli.png?v=1781789891" alt="" width="100">
  </div>

        </div>


        <!-- Item 3 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                3
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

                    <div class="bedroom-text" style="margin-left: 20px !important;padding: 15px 0;display: flex;
    justify-content: space-between;align-items: center;">
    <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">AUSPICIOUS KITCHEN KALASH</div>
    </div>

    <div class="bedroom-desc">
     Auspicious Kitchen Kalash <br>
in the South zone <br>
of the kitchen.
    </div>
</div>
 <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/golden-kalash.png?v=1781789891" alt="" width="100">
  </div>

        </div>


      

    </div>

         <div class="kitchen-image">
 
      <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/south-kitchen-kalash.jpg?v=1781860931" alt="Kitchen" style="width: 90%;
    height: 300px;
    object-fit: cover;
    object-position: bottom center;">
    </div>
</div>
<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b><a href="https://livevaastu.in/" target="_blank">livevaastu.in</a></b></span>
        <span>EMAIL: <br><b><a href="mailto:contact@livevaastu.com">contact@livevaastu.com</a></b></span>
        <span>MOBILE: <br><b><a href="tel:9555666667">95556 66667</a></b></span>
</div>
    </div>

  </section>


<div style="page-break-after: always;"></div>


<!-- page-91 -->

<section class="vastu-page kitchen-container" style="padding: 0;">

    <h1 class="page-title">WEST KITCHEN</h1>

  <div class="doctor-banner">

      <div class="doctor-image">
        <!-- Replace with actual image -->
        <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/doctor-img.png?v=1773982061" alt="Doctor">
      </div>

      <div class="banner-content">
        <div class="banner-title">ASTRO VASTU REMEDIES</div>
        <div class="banner-subtitle">BY DR. PUNEET CHAWLA</div>
      </div>

    </div>

  <div class="kitchen-sub-con">

        <div class="general-list">

        <!-- Item 1 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                1
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

              <div class="bedroom-text" style="margin-left: 20px !important;padding: 5px 0;display: flex;
    justify-content: space-between;align-items: center;">
    <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">IRON/STEEL PLATE</div>
    </div>

    <div class="bedroom-desc">
    Iron/steel plate
    </div>

    </div>
<svg width="130" height="70" viewBox="0 0 130 70" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <radialGradient id="steel" cx="50%" cy="40%" r="60%">
      <stop offset="0%" stop-color="#FAFAFA"/>
      <stop offset="55%" stop-color="#D8D8D8"/>
      <stop offset="100%" stop-color="#A9A9A9"/>
    </radialGradient>
  </defs>

  <ellipse cx="65" cy="38" rx="46" ry="20"
           fill="url(#steel)"
           stroke="#8C8C8C"
           stroke-width="2"/>

  <ellipse cx="65" cy="35" rx="40" ry="15"
           fill="none"
           stroke="#EFEFEF"
           stroke-width="2"/>

  <ellipse cx="65" cy="35" rx="30" ry="10"
           fill="none"
           stroke="#BEBEBE"
           stroke-width="1"/>
</svg>
  </div>

        </div>


        <!-- Item 2 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                2
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

               <div class="bedroom-text" style="margin-left: 20px !important;padding: 5px 0;display: flex;
    justify-content: space-between;align-items: center;">
                <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">TAMARIND SEED <br> IN GREY POUCH</div>
    </div>

    <div class="bedroom-desc">
    Tamarind seed <br>
in grey pouch
    </div>
    </div>
<img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/seed-in-grey-pouch.png?v=1781864717" alt="" width="100">
  </div>

        </div>


        <!-- Item 3 -->

        <div class="general-item" style="padding: 10px 16px;margin-bottom: 15px;">

            <div class="number-box">
                3
            </div>

            <div style="
                width:1px;
                height:52px;
                border-right:1px dashed #d7a24c;
            "></div>

                    <div class="bedroom-text" style="margin-left: 20px !important;padding: 5px 0;display: flex;
    justify-content: space-between;align-items: center;">
    <div>
    <div class="bedroom-title-row">
   
      <div class="bedroom-title">REMEDIES FOR THE KITCHEN</div>
    </div>

    <div class="bedroom-desc">
     Keep burners clean <br>
and covered
    </div>
</div>
 <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/kitchen-burners.png?v=1781864717" alt="" width="100">
  </div>

        </div>


      

    </div>

    <div class="bottom-section">

      <!-- LEFT -->

      <div class="planet-card" style="height: 150px !important;min-height: 150px;">

        <div class="planet-image" style="height: 100px !important;width: 100px;">
          <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/saturn-image.png?v=1773981985" alt="sun" style="height: 150px !important;width: 150px;">
        </div>

        <div class="planet-text">
          Planet: <span>Saturn</span>
        </div>

      </div>


      <!-- RIGHT -->

      <div class="mantra-card" style="background-image: url('https://cdn.shopify.com/s/files/1/0758/2911/7240/files/west-main-door-mantra.jpg?v=1780483520');height: 150px;min-height: 150px;">

      </div>

    </div>
</div>
<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b><a href="https://livevaastu.in/" target="_blank">livevaastu.in</a></b></span>
        <span>EMAIL: <br><b><a href="mailto:contact@livevaastu.com">contact@livevaastu.com</a></b></span>
        <span>MOBILE: <br><b><a href="tel:9555666667">95556 66667</a></b></span>
</div>
    </div>

  </section>