<div class="vastu-page" style="border: 6px solid #D60000;">

 <!-- Big Circular Map -->
<div class="map-circle">
    <img src="images/vastu-bg-img.png">
    <div class="map-overlay"></div>
</div>

    <!-- Logo -->
    <div class="logo-circle">
        <img src="./images/vastu-logo.png">
    </div>

    <!-- Title -->
    <div class="title">
        <div class="small">VASTU SCAN</div>
        <div class="big">REPORT</div>
    </div>

    <!-- Doctor Image -->
    <div class="doctor-circle">
        <img src="./images/doctor-img.png">
    </div>

    <!-- Vertical Text -->
    <div class="vertical-text">
        AUTHENTIC
    </div>

    <!-- Bottom Text -->
    <div class="bottom-content">
        <p>An Authentic Report by</p>
        <p class="name">Dr. Chawla</p>
        <div class="divider"></div>
    </div>

  <!-- FOOTER -->
    <div class="footer-container">
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
</div>

</div>