<div style="page-break-after: always;"></div>

<!-- page-2 -->
 <div class="vastu-page" style="border: 6px solid #D60000;">

    <!-- Header -->
    <div class="header2">
        <div class="username">{{name}}</div>
        <div class="date">{{updatedAt}}</div>
    </div>
<div class="usage-content">
    <!-- PERSONAL -->
    <div class="block">
        <div class="tag">Personal</div>

        <div class="grid">
            <div>
                <div class="label">Property Address</div>
                <div class="value">{{address}}</div>
            </div>

            <div class="right">
                <div class="label">City/State</div>
                <div class="value">{{city}}</div>
            </div>
        </div>

        <div class="line"></div>
    </div>


    <!-- PROPERTY DETAILS -->
    <div class="block">
        <div class="tag">Property Details</div>

        <div class="grid">
            <div>
                <div class="label">Property Facing</div>
                <div class="value">{{facing}}</div>
            </div>

            <div class="right">
                <div class="label">Built-up Area</div>
                <div class="value">{{area}}</div>
            </div>

            <div>
                <div class="label">Property Type</div>
                <div class="value">{{type}}</div>
            </div>

            <div class="right">
                <div class="label">Floor</div>
                <div class="value">{{floor}}</div>
            </div>
        </div>

        <div class="line"></div>
    </div>


    <!-- FAMILY -->
    <div class="block">
        <div class="tag">Family</div>

        <div class="grid">
            <div>
                <div class="label">Total Members</div>
                <div class="value">{{family.members}}</div>
            </div>

            <div class="right">
                <div class="label">Adults</div>
                <div class="value">{{family.adults}}</div>
            </div>

            <div>
                <div class="label">Children</div>
                <div class="value">{{family.children}}</div>
            </div>

            <div class="right">
                <div class="label">Elders</div>
                <div class="value">{{family.elders}}</div>
            </div>
        </div>

        <div class="line"></div>
    </div>


    <!-- PROFESSIONAL -->
    <div class="block">
        <div class="tag">Professional Details</div>

        <div class="grid">
            <div>
                <div class="label">Nature of Profession / Business</div>
                <div class="value">{{profession}}</div>
            </div>

            <div class="right">
                <div class="label">Working from Home</div>
                <div class="value">{{workFromHome}}</div>
            </div>

            <div>
                <div class="label">Career/Business Stability Level</div>
                <div class="value">{{stability}}</div>
            </div>
        </div>
    </div>
</div>
    

   <!-- FOOTER -->
    <div class="footer-container">
        <!-- CENTER LOGO -->
    <div class="centerLogo">
        <img src="https://cdn.shopify.com/s/files/1/0758/2911/7240/files/vastu-site-logo.png">
    </div>
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
</div>

</div>