<div style="page-break-after: always;"></div>

<!-- page-2 -->
 <div class="vastu-page" style="border: 6px solid #D60000;">

    <!-- Header -->
    <div class="header2">
        <div class="username">{{Rajan Bagga}}</div>
        <div class="date">06 January 2026</div>
    </div>
<div class="usage-content">
    <!-- PERSONAL -->
    <div class="block">
        <div class="tag">Personal</div>

        <div class="grid">
            <div>
                <div class="label">Property Address</div>
                <div class="value">{{NIT 5, Faridabad}}</div>
            </div>

            <div class="right">
                <div class="label">City/State</div>
                <div class="value">{{Faridabad/Haryana}}</div>
            </div>
        </div>

        <div class="line"></div>
    </div>


    <!-- PROPERTY DETAILS -->
    <div class="block">
        <div class="tag">Property Details</div>

        <div class="grid">
            <div>
                <div class="label">Property Facing</div>
                <div class="value">{{North}}</div>
            </div>

            <div class="right">
                <div class="label">Built-up Area</div>
                <div class="value">{{2200 Sq. Ft}}</div>
            </div>

            <div>
                <div class="label">Property Type</div>
                <div class="value">{{Residential}}</div>
            </div>

            <div class="right">
                <div class="label">Floor</div>
                <div class="value">{{2nd}}</div>
            </div>
        </div>

        <div class="line"></div>
    </div>


    <!-- FAMILY -->
    <div class="block">
        <div class="tag">Family</div>

        <div class="grid">
            <div>
                <div class="label">Total Members</div>
                <div class="value">{{6}}</div>
            </div>

            <div class="right">
                <div class="label">Adults</div>
                <div class="value">{{2}}</div>
            </div>

            <div>
                <div class="label">Children</div>
                <div class="value">{{2}}</div>
            </div>

            <div class="right">
                <div class="label">Elders</div>
                <div class="value">{{2}}</div>
            </div>
        </div>

        <div class="line"></div>
    </div>


    <!-- PROFESSIONAL -->
    <div class="block">
        <div class="tag">Professional Details</div>

        <div class="grid">
            <div>
                <div class="label">Nature of Profession / Business</div>
                <div class="value">{{Finance}}</div>
            </div>

            <div class="right">
                <div class="label">Working from Home</div>
                <div class="value">{{Yes}}</div>
            </div>

            <div>
                <div class="label">Career/Business Stability Level</div>
                <div class="value">{{Stable / Fluctuating}}</div>
            </div>
        </div>
    </div>
</div>
    

   <!-- FOOTER -->
    <div class="footer-container">
        <!-- CENTER LOGO -->
    <div class="centerLogo">
        <img src="./images/vastu-site-logo.png">
    </div>
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
</div>

</div>