<div style="page-break-after: always;"></div>


<!-- page-61 -->

<section class="vastu-page" style="padding: 0;">

       <!-- HEADER -->

<div class="guideline-header">
    <h1>Some other generic guidelines for the bedrooms
</h1>
</div>



<div class="usage-content">
<div class="fix-content">


<ul class="fix-ol-list">

<li >1. The position of the bed in a bedroom plays a very important role in ascertaining peace and prosperity for the person using it. The bed should always be placed against a solid wall and not against one that has windows behind it. Care should also be taken to ensure that the bed should not point towards the bathroom wall or is adjoining to it as this would invites a lot of negative energy for the person sleeping on the bed thereby causing health problems for him.

</li>

<li>2. The head should always be pointing to the south while sleeping and never to the north direction. People sleeping in the latter direction are eventually lying in the direction of the flow of the electromagnetic waves, which travels from the north to the south. This would lead to headaches and body aches for them on getting up in the morning.</li>
<li>
3. Pointing your feet towards the door of the bedroom while lying on the bed is also considered inauspicious and creator of various health problems.
</li>

<li>4. Couples should share a common bed, mattress and sheets, as this would increase harmony and love in their relationship.</li>

<li>
    5. Pillowcases and bed sheets should be replaced with new ones every six months, as they tend to absorb all the negativity that you shed on them while sleeping.
</li>
<li >6. Dull or sharp colors should not be chosen for the walls of the bedroom. Colors like light green, light blue, a tinge of lilac or purple are the best color schemes for this area. A pure white is excellent for creating spiritual harmony within the surrounding atmosphere.
</li>




</ul>

</div>

</div>


<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>


<div style="page-break-after: always;"></div>


<!-- page-62 -->

<section class="vastu-page" style="padding: 0;">

       <!-- HEADER -->

<div class="guideline-header">
    <h1>Some other generic guidelines for the bedrooms
</h1>
</div>



<div class="usage-content">
<div class="fix-content">


<ul class="fix-ol-list">
<li>7. The Northeast corner of the bedroom should be kept free from heavy furniture or any kind of clutter.</li>
<li>
8. Pictures of animals fighting, hunting lions, trees devoid of flowers and fruits and dead animals like pigeons, snakes, crows, owls and vultures should never be hung on the walls of the bedroom.
</li>

<li>9. We should not hang pictures of Gods and Goddesses in the bedroom as this place is used by us for enjoying life in its different forms like drinking, sleeping relaxing and so on. Indulging in such activities in front of our idols is considered as disrespectful.</li>

<li>
    10. A mirror should not be placed in a bedroom. However, if it is inevitable, then the position of the mirror should be such that it does not reflect your image while sleeping on bed.
</li>
<li>
    11. It is a very common practice to store objects under the bed due to scarcity of space or otherwise. However, this influences your sleep pattern majorly. If we talk about the principle of proximity, things placed around us have a very strong influence on us. Storing shoes under the bed would keep you ‘running around’ all night even while in sound sleep. If you stuff clothes under the bed, they would not let you have a restful sleep as they carry various life experiences attached with them. Similarly, keeping work-related papers under the bed would stimulate your intellectuality, thereby not letting you switch to rest mode. Also, knives, utensils and other junk items create strained relationships and confusions and hence should be avoided at all costs.
</li>



</ul>

</div>

</div>


<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>


<div style="page-break-after: always;"></div>


<!-- page-63 -->

<section class="vastu-page" style="padding: 0;">

       <!-- HEADER -->

<div class="guideline-header">
    <h1>Some other generic guidelines for the bedrooms
</h1>
</div>



<div class="usage-content">
<div class="fix-content">


<ul class="fix-ol-list">


<li>12. A television in the bedroom emits electromagnetic radiation, which is very harmful for its occupants, and therefore you should not have one in your sleeping area.</li>
<li>
    13. Cash lockers should not be installed in the bedroom, which are not in the SW. A safe can be placed but only in the southwest corner, which opens facing the northern or eastern directions.
</li>
<li>
    14. Aquariums, water fountains and other water elements should never be placed in a bedroom as they bring about instability in life.
</li>
<li>15. A window on the eastern wall is highly favorable as it receives positive energies from the ultraviolet rays of the rising sun. It even helps emit the negative vibrations present within the room.</li>
<li>
    16. There should not be a beam in your bedroom as this may cause serious health problems and unnecessary tensions. If, in case, there is one, which cannot be avoided, make sure you do not sleep under it at any cost.
</li>


</ul>

</div>

</div>


<!-- Footer -->
 <div class="footer-container">
     
     <div class="line"></div>
    <div class="footer" style="position: static;margin-top: 30px;">
        
        <span>WEB: <br><b>lrayvastu.in</b></span>
        <span>EMAIL: <br><b>contact@lrayvastu.in</b></span>
        <span>MOBILE: <br><b>95556 66667</b></span>
</div>
    </div>

</section>
